.sheet-hidden {
    display: none;
}

.sheet-hider:not(:checked) + div {
    display: none;
}

.sheet-border {
    border-style: double;
}

/*region STATS*/

.sheet-reg_intuition {
    border: solid 2px  !important;
    padding: 1em;
}

.sheet-reg_prouesse {
    border: solid 2px !important;
    padding: 1em;
}

.sheet-reg_synchroniser {
    border: solid 2px !important;
    padding: 1em;
}

/*endregion*/


input[type="radio"] {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio */
input[type="radio"] + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 2px #ccc;
    background: #3c3f41;
    content: " ";
    width: 12px;
    height: 12px;
    font-size: 24px;
    border-radius: 50%;
    transition: all 100ms 100ms linear;
}

/* Remove dot from all radios _after_ selected one */
input[type="radio"]:checked ~ input[type="radio"] + span::before {
    content: "";
    background: #fff;
    transition: all 100ms 100ms linear;
}






/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

/* UNIVERSAL */
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

/* ROOT FONT STYLES */

* {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
}

.sheet-font-light {
    font-weight: 300;
}

.sheet-font-regular {
    font-weight: 400;
}

.sheet-font-heavy {
    font-weight: 700;
}

/* POSITIONING */

.sheet-left {
    text-align: left;
}

.sheet-right {
    text-align: right;
}

.sheet-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sheet-justify {
    text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.sheet-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.sheet-row {
    position: relative;
    width: 100%;
}

.sheet-row [class^="sheet-col"] {
    float: left;
    min-height: 0.125rem;
}

.sheet-col-1,
.sheet-col-2,
.sheet-col-3,
.sheet-col-4,
.sheet-col-5,
.sheet-col-6,
.sheet-col-7,
.sheet-col-8,
.sheet-col-9,
.sheet-col-10,
.sheet-col-11,
.sheet-col-12 {
    width: 96%;
}

.sheet-col-1-sm {
    width: 4.33%;
}

.sheet-col-2-sm {
    width: 12.66%;
}

.sheet-col-3-sm {
    width: 21%;
}

.sheet-col-4-sm {
    width: 29.33%;
}

.sheet-col-5-sm {
    width: 37.66%;
}

.sheet-col-6-sm {
    width: 46%;
}

.sheet-col-7-sm {
    width: 54.33%;
}

.sheet-col-8-sm {
    width: 62.66%;
}

.sheet-col-9-sm {
    width: 71%;
}

.sheet-col-10-sm {
    width: 79.33%;
}

.sheet-col-11-sm {
    width: 87.66%;
}

.sheet-col-12-sm {
    width: 96%;
}

.sheet-row::after {
    content: "";
    display: table;
    clear: both;
}

.sheet-hidden-sm {
    display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    .sheet-container {
        width: 80%;
    }
}

@media only screen and (min-width: 45em) {  /* 720px */
    .sheet-col-1 {
        width: 4.33%;
    }
    .sheet-col-2 {
        width: 12.66%;
    }

    .sheet-col-3 {
        width: 21%;
    }

    .sheet-col-4 {
        width: 29.33%;
    }

    .sheet-col-5 {
        width: 37.66%;
    }

    .sheet-col-6 {
        width: 46%;
    }

    .sheet-col-7 {
        width: 54.33%;
    }

    .sheet-col-8 {
        width: 62.66%;
    }

    .sheet-col-9 {
        width: 71%;
    }

    .sheet-col-10 {
        width: 79.33%;
    }

    .sheet-col-11 {
        width: 87.66%;
    }

    .sheet-col-12 {
        width: 96%;
    }

    .sheet-hidden-sm {
        display: block;
    }
}
@media only screen and (min-width: 60em) { /* 960px */
    .sheet-container {
        width: 75%;
        max-width: 60rem;
    }
}