<div class="">
    <div class="row">
        <div class="col-12 center">
            <label>
                <select name="attr_pane" class="center">
                    <option value="1">Statistiques</option>
                    <option value="2">Compétences</option>
                    <option value="3">Inventaire</option>
                </select>
            </label>
        </div>
    </div>
</div>
<input type="checkbox" name="attr_pane" value="1" class="sheet-hidden sheet-hider" checked>
<div>
    <div class="3colrow">
        <div class="col-4">

            <label>
                Nom :
                <input type="text" name="attr_character_name"/>
            </label>

            <label>
                Alias :
                <input type="text" name="attr_char_alias"/>
            </label>

        </div>

        <div class="col-4">
            <label>Organisation :</label><input type="text" name="attr_char_crew"/>
            <label>Apparence :
            </label><input type="text" name="attr_char_alias"/>
        </div>

        <div class="col-4">
            <label>Milieu d'origine :
                <select name="attr_char_milieu">
                    <option value="">--Please choose an option--</option>
                    <option value="Académique">Académique</option>
                    <option value="Ouvrier">Ouvrier</option>
                    <option value="Loi">Loi</option>
                    <option value="Marchand">Marchand</option>
                    <option value="Militaire">Militaire</option>
                    <option value="Noble">Noble</option>
                    <option value="Bas Fonds">Bas Fonds</option>
                </select>
            </label>
            <label>Vice :
                <select name="attr_char_vice">
                    <option value="1">Foi</option>
                    <option value="2">Jeu</option>
                    <option value="3">Luxe</option>
                    <option value="4">Obligation</option>
                    <option value="5">Plaisir</option>
                    <option value="6">Stupeur</option>
                    <option value="7">Etrange</option>
                </select>
            </label>
        </div>
    </div>

    <hr/>
    <div class="row">
        <!--region INTUITION-->
        <div class="col-4 reg_intuition">
            <h3>INTUITION</h3>

            <!--region TRAQUER-->
            <label>TRAQUER</label>
            <span class="groupe">
            <input type="radio" name="attr_trq" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_trq" value="1"><span></span>
            <input type="radio" name="attr_trq" value="2"><span></span>
            <input type="radio" name="attr_trq" value="3"><span></span>
            <input type="radio" name="attr_trq" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{trq}d6 + [[{{@{trq},12}<0}*2]]d6 @{character_name} : TRAQUER niveau @{trq} '></button>
            <!--endregion-->

            <!--region ETUDIER-->
            <label>ETUDIER</label>
            <span class="groupe">
            <input type="radio" name="attr_etd" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_etd" value="1"><span></span>
            <input type="radio" name="attr_etd" value="2"><span></span>
            <input type="radio" name="attr_etd" value="3"><span></span>
            <input type="radio" name="attr_etd" value="4"><span></span>
        </span>

            <button type='roll'
                    value='/roll @{etd}d6 + [[{{@{etd},12}<0}*2]]d6 @{character_name} : ETUDIER niveau @{etd} '></button>

            <!--endregion-->

            <!--region SURVEILLER-->
            <label>SURVEILLER</label>
            <span class="groupe">
            <input type="radio" name="attr_srv" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_srv" value="1"><span></span>
            <input type="radio" name="attr_srv" value="2"><span></span>
            <input type="radio" name="attr_srv" value="3"><span></span>
            <input type="radio" name="attr_srv" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{srv}d6 + [[{{@{srv},12}<0}*2]]d6 @{character_name} : SURVEILLER niveau @{srv} '></button>

            <!--endregion-->

            <!--region BIDOUILLER-->
            <label>BIDOUILLER</label>
            <span class="groupe">
            <input type="radio" name="attr_bid" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_bid" value="1"><span></span>
            <input type="radio" name="attr_bid" value="2"><span></span>
            <input type="radio" name="attr_bid" value="3"><span></span>
            <input type="radio" name="attr_bid" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{bid}d6 + [[{{@{bid},12}<0}*2]]d6 @{character_name} : BIDOUILLER niveau @{bid} '></button>
            <!--endregion-->
        </div>
        <!--endregion-->

        <!--region DETERMINATION-->
        <div class="col-4 reg_synchroniser">
            <h3>DETERMINATION</h3>

            <!--region SYNCHRONISER-->
            <label>SYNCHRONISER</label>
            <span class="groupe">
            <input type="radio" name="attr_syn" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_syn" value="1"><span></span>
            <input type="radio" name="attr_syn" value="2"><span></span>
            <input type="radio" name="attr_syn" value="3"><span></span>
            <input type="radio" name="attr_syn" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{syn}d6 + [[{{@{syn},12}<0}*2]]d6 @{character_name} : SYNCHRONISER niveau @{syn} '></button>
            <!--endregion-->

            <!--region COMMANDER-->
            <label>COMMANDER</label>
            <span class="groupe">
            <input type="radio" name="attr_cmd" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_cmd" value="1"><span></span>
            <input type="radio" name="attr_cmd" value="2"><span></span>
            <input type="radio" name="attr_cmd" value="3"><span></span>
            <input type="radio" name="attr_cmd" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{cmd}d6 + [[{{@{cmd},12}<0}*2]]d6 @{character_name} : COMMANDER niveau @{cmd}'></button>
            <!--endregion-->

            <!--region FREQUENTER-->
            <label>FREQUENTER</label>
            <span class="groupe">
            <input type="radio" name="attr_fqt" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_fqt" value="1"><span></span>
            <input type="radio" name="attr_fqt" value="2"><span></span>
            <input type="radio" name="attr_fqt" value="3"><span></span>
            <input type="radio" name="attr_fqt" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{fqt}d6 + [[{{@{fqt},12}<0}*2]]d6 @{character_name} : FREQUENTER niveau @{fqt} '></button>
            <!--endregion-->

            <!--region INFLUENCER-->
            <label>INFLUENCER</label>
            <span class="groupe">
            <input type="radio" name="attr_ifl" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_ifl" value="1"><span></span>
            <input type="radio" name="attr_ifl" value="2"><span></span>
            <input type="radio" name="attr_ifl" value="3"><span></span>
            <input type="radio" name="attr_ifl" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{ifl}d6 + [[{{@{ifl},12}<0}*2]]d6 @{character_name} : INFLUENCER niveau @{ifl} '></button>
            <!--endregion-->
        </div>
        <!--endregion-->

        <!--region PROUESSE-->
        <div class="col-4 reg_prouesse">
            <h3>PROUESSE</h3>

            <!--region FINESSE-->
            <label>FINESSE</label>
            <span class="groupe">
            <input type="radio" name="attr_fin" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_fin" value="1"><span></span>
            <input type="radio" name="attr_fin" value="2"><span></span>
            <input type="radio" name="attr_fin" value="3"><span></span>
            <input type="radio" name="attr_fin" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{fin}d6 + [[{{@{fin},12}<0}*2]]d6 @{character_name} : FINESSE niveau @{fin} '></button>
            <!--endregion-->

            <!--region MARAUDER-->
            <label>MARAUDER</label>
            <span class="groupe">
            <input type="radio" name="attr_mrd" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_mrd" value="1"><span></span>
            <input type="radio" name="attr_mrd" value="2"><span></span>
            <input type="radio" name="attr_mrd" value="3"><span></span>
            <input type="radio" name="attr_mrd" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{mrd}d6 + [[{{@{mrd},12}<0}*2]]d6 @{character_name} : MARAUDER niveau @{mrd} '></button>
            <!--endregion-->

            <!--region ESCARMOUCHER-->
            <label>ESCARMOUCHER</label>
            <span class="groupe">
            <input type="radio" name="attr_scr" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_scr" value="1"><span></span>
            <input type="radio" name="attr_scr" value="2"><span></span>
            <input type="radio" name="attr_scr" value="3"><span></span>
            <input type="radio" name="attr_scr" value="4"><span></span>
        </span>
            <button type='roll'
                    value='/roll @{scr}d6 + [[{{@{scr},12}<0}*2]]d6 @{character_name} : ESCARMOUCHER niveau @{scr} '></button>
            <!--endregion-->

            <!--region DETRUIRE-->
            <label>DETRUIRE</label>
            <span class="groupe">
            <input type="radio" name="attr_dtr" value="0" checked="checked"><span></span>
            <input type="radio" name="attr_dtr" value="1"><span></span>
            <input type="radio" name="attr_dtr" value="2"><span></span>
            <input type="radio" name="attr_dtr" value="3"><span></span>
            <input type="radio" name="attr_dtr" value="4"><span></span>
        </span>

            <button type='roll'
                    value='/roll @{dtr}d6 + [[{{@{dtr},12}<0}*2]]d6 @{character_name} : DETRUIRE niveau @{dtr} '></button>
            <!--endregion-->

        </div>
        <!--endregion-->
    </div>
    <hr/>

    <div class="row">
        <div class="col-4">
            <label> Stress :</label><input type="number" min="0" max="9" name="attr_char_str"/>/ <input
                type="number"
                value="9"
                name="attr_char_str_max"
                disabled="disabled"/>
            <label> Blessure :
                <label> Niveau 1: -1 effet </label><input type="text" name="attr_b1_1"/> <input type="text"
                                                                                                name="attr_b1_1"/>
                <label> Niveau 2: -1 dé</label><input type="text" name="attr_b2_1"/> <input type="text"
                                                                                            name="attr_b2_1"/>
                <label> Niveau 3: 2 stress</label><input type="text" name="attr_b3"/>
                <label> Temps de Guerison/Proje</label><input type="number" max="4" min="0" name=attr_clock/><input
                        type="number" value="4" name=attr_clock_max/>
                <label>Armures : </label>
                <label>Armure : </label><input type="checkbox" name="attr_armor1"/>
                <label>Lourde : </label><input type="checkbox" name="attr_armor2"/>
                <label>Spéciale : </label><input type="checkbox" name="attr_armor3"/>
            </label>
        </div>
    </div>
</div>
<input type="checkbox" name="attr_pane" value="3" class="sheet-hidden sheet-hider">
<div class="row">
    <label> </label>
    <label>Inventaire</label>
    <label>Une lame ou deux <input type="checkbox" name="attr_inv1"/></label>
    <label>Couteaux de lancé <input type="checkbox" name="attr_inv2"/></label>
    <label>Pitolet <input type="checkbox" name="attr_inv3"/>Pistolet :<input type="checkbox"
                                                                             name="attr_inv4"/></label>
    <label>Une grande Arme <input type="checkbox" name="attr_inv5"/> <input type="checkbox"
                                                                            name="attr_inv5"/></label>
    <label>Armure <input type="checkbox" name="attr_inv6"/> <input type="checkbox" name="attr_inv6"/></label>
    <label> + Lourde <input type="checkbox" name="attr_inv7"/><input type="checkbox" name="attr_inv7"/><input
            type="checkbox" name="attr_inv7"/></label>
    <label>Kit de cambriolage : <input type="checkbox" name="attr_inv8"/></label>
    <label>Kit d'escalade <input type="checkbox" name="attr_inv9"/> <input type="checkbox"
                                                                           name="attr_inv9"/></label>
    <label>Documents <input type="checkbox" name="attr_inv14"/></label>
    <label>Objets arcaniques <input type="checkbox" name="attr_inv10"/></label>
    <label>Outils de démolition <input type="checkbox" name="attr_inv11"/> <input type="checkbox"
                                                                                  name="attr_inv11"/></label>
    <label>Outils de bricolage<input type="checkbox" name="attr_inv12"/></label>
    <label>Lanterne<input type="checkbox" name="attr_inv13"/></label>
    <hr/>
    <label>Inventaire de classe</label>
    <input type="checkbox" name="attr_char_class" value="2" class="sheet-hidden sheet-hider">
    <div name="hound_inv">
        <label>Bonne paire de pistolet<input type="checkbox" name="attr_cinv1"/></label>
        <label>Balles electroplasmique<input type="checkbox" name="attr_cinv2"/></label>
        <label>Bonne carabine<input type="checkbox" name="attr_cinv3"/><input type="checkbox"
                                                                                     name="attr_cinv3"/></label>
        <label>Animal dressé<input type="checkbox" name="attr_cinv4"/></label>
        <label>Jumelles<input type="checkbox" name="attr_cinv5"/></label>
    </div>
    <input type="checkbox" name="attr_char_class" value="1" class="sheet-hidden sheet-hider">
    <div name="cutter_inv">
        <label>Bonne arme de mélée<input type="checkbox" name="attr_cinv1"/></label>
        <label>Arme/outils effrayant<input type="checkbox" name="attr_cinv2"/></label>
        <label>Bonne arme lourde<input type="checkbox" name="attr_cinv3"/><input type="checkbox"
                                                                                     name="attr_cinv3"/></label>
        <label>Menottes & chaines<input type="checkbox" name="attr_cinv4"/></label>
        <label>Drogue enrageante<input type="checkbox" name="attr_cinv5"/></label>
    </div>
    <input type="checkbox" name="attr_char_class" value="3" class="sheet-hidden sheet-hider">
    <div name="leech_inv">
        <label>Bon outils de bricolage<input type="checkbox" name="attr_cinv1"/></label>
        <label>Bandouillère<input type="checkbox" name="attr_cinv2"/></label>
        <label>Bons outils de démolition<input type="checkbox" name="attr_cinv3"/><input type="checkbox"
                                                                                     name="attr_cinv3"/></label>
        <label>sarbaccane et darts<input type="checkbox" name="attr_cinv4"/></label>
        <label>Bandouillère<input type="checkbox" name="attr_cinv5"/></label>
        <label>Gadgets<input type="checkbox" name="attr_cinv6"/><input type="checkbox" name="attr_cinv7"/><input type="checkbox" name="attr_cinv8"/></label>
    </div>
    <input type="checkbox" name="attr_char_class" value="4" class="sheet-hidden sheet-hider">
    <div name="lurk_inv">
        <label>Bons outils de crochetage<input type="checkbox" name="attr_cinv1"/></label>
        <label>Bonne cape sombre<input type="checkbox" name="attr_cinv2"/></label>
        <label>Kit d'escalade léger<input type="checkbox" name="attr_cinv3"/>
        <label>Fiole de silence<input type="checkbox" name="attr_cinv4"/></label>
        <label>Lunettes de vision nocturne<input type="checkbox" name="attr_cinv5"/></label>
    </div>
    <input type="checkbox" name="attr_char_class" value="5" class="sheet-hidden sheet-hider">
    <div name="slide_inv">
        <label>Beaux vêtements et bijoux<input type="checkbox" name="attr_cinv1"/></label>
        <label>Bon kit de déguisement<input type="checkbox" name="attr_cinv2"/></label>
        <label>Bons dés et cartes truqués<input type="checkbox" name="attr_cinv3"/>
        <label>Poudre de trance<input type="checkbox" name="attr_cinv4"/></label>
        <label>Canne épée<input type="checkbox" name="attr_cinv5"/></label>
    </div>
    <input type="checkbox" name="attr_char_class" value="6" class="sheet-hidden sheet-hider">
    <div name="spider_inv">
        <label>Fausse identitée de qualité<input type="checkbox" name="attr_cinv1"/></label>
        <label>Bonne bouteille de whiskey<input type="checkbox" name="attr_cinv2"/></label>
        <label>Plans<input type="checkbox" name="attr_cinv3"/>
        <label>Poudre de sommeil<input type="checkbox" name="attr_cinv4"/></label>
        <label>Petit pistolet dissimulé<input type="checkbox" name="attr_cinv5"/></label>
    </div>
    <input type="checkbox" name="attr_char_class" value="7" class="sheet-hidden sheet-hider">
    <div name="whisper_inv">
        <label>Crochet electrifié<input type="checkbox" name="attr_cinv1"/><input type="checkbox" name="attr_cinv1"/></label>
        <label>Masque Spirituel<input type="checkbox" name="attr_cinv2"/></label>
        <label>Electroplasme<input type="checkbox" name="attr_cinv3"/>
        <label>Bouteille à esprits (2)<input type="checkbox" name="attr_cinv4"/></label>
        <label>Clé fantomatique<input type="checkbox" name="attr_cinv5"/></label>
    </div>

</div>


    <input type="checkbox" name="attr_pane" value="2" class="sheet-hidden sheet-hider">
    <div class="row">
        <div><label>Classe :
            <select name="attr_char_class">
                <option value="1">Cutter</option>
                <option value="2">Hound</option>
                <option value="3">Leech</option>
                <option value="4">Lurk</option>
                <option value="5">Slide</option>
                <option value="6">Spider</option>
                <option value="7">Whisper</option>
            </select>
        </label></div>
        <input type="checkbox" name="attr_char_class" value="1" class="sheet-hidden sheet-hider" checked>
        <div class="col-4" name="cutter">
            <label><input type="checkbox" name="attr_c1"/><h5>Battleborn: </h5><h6>You may expend your special armor to
                reduce harm
                from an attack in combat or to push yourself during a fight.</h6>
            </label>

            <label><input type="checkbox" name="attr_c2"/><h5>Bodyguard: </h5><h6>When you protect a teammate, take +1d
                to
                your resistance
                roll. When you gather info to anticipate possible threats in the current
                situation, you get +1 effect.</h6>
            </label>

            <label><input type="checkbox" name="attr_c3"/><h5>Ghost Fighter: </h5><h6>You may imbue your hands, melee
                weapons, or tools
                with spirit energy. You gain potency in combat vs. the supernatural.
                You may grapple with spirits to restrain and capture them.</h6>
            </label>
            <label><input type="checkbox" name="attr_c4"/><h5>Leader: </h5><h6>When you Command a cohort in combat, they
                continue
                to fight when they would otherwise break (they're not taken out
                when they suffer level 3 harm). They gain +1 effect and 1 armor.</h6>
            </label>

            <label><input type="checkbox" name="attr_c5"/><h5>Mule: </h5><h6>Your load limits are higher. Light: 5.
                Normal:
                7. Heavy: 8.</h6>
            </label>

            <label><input type="checkbox" name="attr_c6"/><h5>Not to be Trifled With: </h5><h6>You can push yourself to
                do
                one of
                the following: perform a feat of physical force that verges on the
                superhuman—engage a small gang on equal footing in close combat.</h6>
            </label>

            <label><input type="checkbox" name="attr_c7"/><h5>Savage: </h5><h6>When you unleash physical violence, it's
                especially
                frightening. When you Command a frightened target, take +1d.</h6>
            </label>

            <label><input type="checkbox" name="attr_c8"/><h5>Vigorous: </h5><h6>When you unleash physical violence,
                it's
                especially
                frightening. When you Command a frightened target, take +1d.</h6>
            </label>

            <label><input type="checkbox" name="attr_c11"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v1"></textarea>

            <label><input type="checkbox" name="attr_c9"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>

            <label><input type="checkbox" name="attr_c10"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>
        </div>
        <input type="checkbox" name="attr_char_class" value="2" class="sheet-hidden sheet-hider">
        <div class="col-4" name="hound">
            <label><input type="checkbox" name="attr_c1"/><h5>Sharpshooter: </h5><h6>You can push yourself to do one of
                the
                following:
                make a ranged attack at extreme distance beyond what’s normal for
                the weapon—unleash a barrage of rapid fire to suppress the enemy.</h6>
            </label>

            <label><input type="checkbox" name="attr_c2"/><h5>Focused: </h5><h6>You may expend your special armor to
                resist
                a consequence
                of surprise or mental harm (fear, confusion, losing track of someone)
                or to push yourself for ranged combat or tracking.</h6>
            </label>

            <label><input type="checkbox" name="attr_c3"/><input type="checkbox" name="attr_c8"/><h5>Ghost Hunter:</h5>
                <h6>
                    Your hunting pet is imbued with spirit energy.
                    It gains potency when tracking or fighting the supernatural, and
                    gains an arcane ability: ghost-form, mind-link, or arrow-swift. Take
                    this ability again to choose an additional arcane ability for your pet.</h6>
            </label>
            <label><input type="checkbox" name="attr_c4"/><h5>Scout: </h5><h6>When you gather info to locate a target,
                you
                get +1 effect.
                When you hide in a prepared position or use camouflage, you get +1d
                to rolls to avoid detection.</h6>
            </label>

            <label><input type="checkbox" name="attr_c5"/><h5>Survivor: </h5><h6>From hard won experience or occult
                ritual,
                you are
                immune to the poisonous miasma of the deathlands and are able to
                subsist on the strange flora and fauna there. You get +1 stress box.</h6>
            </label>

            <label><input type="checkbox" name="attr_c6"/><h5>Tough as Nails: </h5><h6>Penalties from harm are one level
                less severe
                (though level 4 harm is still fatal).</h6>
            </label>

            <label><input type="checkbox" name="attr_c7"/><h5>Vengeful: </h5><h6>You gain an additional xp trigger: You
                got
                payback
                against someone who harmed you or someone you care about. If your
                crew helped you get payback, also mark crew xp.</h6>
            </label>

            <label><input type="checkbox" name="attr_c11"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v1"></textarea>

            <label><input type="checkbox" name="attr_c9"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>

            <label><input type="checkbox" name="attr_c10"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>
        </div>
        <input type="checkbox" name="attr_char_class" value="3" class="sheet-hidden sheet-hider">
        <div class="col-4" name="leech">
            <label><input type="checkbox" name="attr_c1"/><h5>Alchemist: </h5><h6>When you invent or craft a creation
                with
                alchemical
                features, take +1 result level to your roll. You begin with one special
                formula already known.</h6>
            </label>

            <label><input type="checkbox" name="attr_c2"/><h5>Analyst: </h5><h6>During downtime, you get two ticks to
                distribute among
                any long term project clocks that involve investigation or learning a
                new formula or design plan.</h6>
            </label>

            <label><input type="checkbox" name="attr_c3"/><h5>Artificer: </h5><h6>When you invent or craft a creation
                with
                spark-craft
                features, take +1 result level to your roll. You begin with one special
                design already known.</h6>
            </label>
            <label><input type="checkbox" name="attr_c4"/><h5>Fortitude: </h5><h6>You may expend your special armor to
                resist a
                consequence of fatigue, weakness, or chemical effects, or to push
                yourself when working with technical skill or handling alchemicals.</h6>
            </label>

            <label><input type="checkbox" name="attr_c5"/><h5>Ghost Ward: </h5><h6>You know how to Wreck an area with
                arcane
                substances
                and methods so it is either anathema or enticing to spirits (your choice).</h6>
            </label>

            <label><input type="checkbox" name="attr_c6"/><h5>Physicker: </h5><h6>You can Tinker with bones, blood, and
                bodily humours to
                treat wounds or stabilize the dying. You may study a malady or corpse.
                Everyone in your crew gets +1d to their healing treatment rolls.</h6>
            </label>

            <label><input type="checkbox" name="attr_c7"/><h5>Saboteur: </h5><h6>When you Wreck, the work is much
                quieter
                than it
                should be and the damage is hidden from casual inspection.</h6>
            </label>

            <label><input type="checkbox" name="attr_c8"/><h5>Venomous: </h5><h6>Choose a drug or poison (from your
                bandolier stock) to
                which you have become immune. You can push yourself to secrete it
                through your skin or saliva or exhale it as a vapor.</h6>
            </label>

            <label><input type="checkbox" name="attr_c11"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v1"></textarea>

            <label><input type="checkbox" name="attr_c9"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>

            <label><input type="checkbox" name="attr_c10"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>
        </div>
        <input type="checkbox" name="attr_char_class" value="4" class="sheet-hidden sheet-hider">
        <div class="col-4" name="lurk">
            <label><input type="checkbox" name="attr_c1"/><h5>Infiltrator: </h5><h6>You are not affected by quality or
                Tier
                when you
                bypass security measures.</h6>
            </label>

            <label><input type="checkbox" name="attr_c2"/><h5>Ambush: </h5><h6>When you attack from hiding or spring a
                trap,
                you get +1d.</h6>
            </label>

            <label><input type="checkbox" name="attr_c3"/><h5>Daredevil: </h5><h6>When you roll a desperate action, you
                get
                +1d to your
                roll if you also take -1d to any resistance rolls against consequences
                from your action.</h6>
            </label>
            <label><input type="checkbox" name="attr_c4"/><h5>The Devil's Footsteps: </h5><h6>When you push yourself,
                choose
                one
                of the following additional benefits: perform a feat of athletics that
                verges on the superhuman—maneuver to confuse your enemies so they
                mistakenly attack each other.</h6>
            </label>

            <label><input type="checkbox" name="attr_c5"/><h5>Expertise: </h5><h6>Choose one of your action ratings.
                When
                you lead a
                group action using that action, you can suffer only 1 stress at most
                regardless of the number of failed rolls.</h6>
            </label>

            <label><input type="checkbox" name="attr_c6"/><h5>Ghost Veil: </h5><h6>You may shift partially into the
                ghost
                field, becoming
                shadowy and insubstantial for a few moments. Take 2 stress when
                you shift, plus 1 stress for each extra feature: It lasts for a few minutes
                rather than moments—you are invisible rather than shadowy—you
                may float through the air like a ghost</h6>
            </label>

            <label><input type="checkbox" name="attr_c7"/><h5>Reflexes: </h5><h6>When there's a question about who acts
                first, the answer
                is you (two characters with Reflexes act simultaneously).</h6>
            </label>

            <label><input type="checkbox" name="attr_c8"/><h5>Shadow: </h5><h6>You may expend your special armor to
                resist a
                consequence
                from detection or security measures, or to push yourself for a feat
                of athletics or stealth.</h6>
            </label>

            <label><input type="checkbox" name="attr_c11"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v1"></textarea>

            <label><input type="checkbox" name="attr_c9"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>

            <label><input type="checkbox" name="attr_c10"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>
        </div>
        <input type="checkbox" name="attr_char_class" value="5" class="sheet-hidden sheet-hider">
        <div class="col-4" name="slide">
            <label><input type="checkbox" name="attr_c1"/>
                <h5>Rook's Gambit:</h5>
                <h6>Take 2 stress to roll your best action rating while
                    performing a different action. Say how you adapt your skill to this use.</h6>
            </label>

            <label><input type="checkbox" name="attr_c2"/><h5>Cloak & Dagger: </h5><h6>When you use a disguise or other
                form
                of covert
                misdirection, you get +1d to rolls to confuse or deflect suspicion.
                When you throw off your disguise, the resulting surprise gives you
                the initiative in the situation.</h6>
            </label>

            <label><input type="checkbox" name="attr_c3"/><h5>Ghost Voice: </h5><h6>You know the secret method to
                interact
                with a ghost or
                demon as if it was a normal human, regardless of how wild or feral it
                appears. You gain potency when communicating with the supernatural.</h6>
            </label>
            <label><input type="checkbox" name="attr_c4"/><h5>Like Looking into a Mirror: </h5><h6>You can always tell
                when
                someone
                is lying to you.</h6>
            </label>

            <label><input type="checkbox" name="attr_c5"/><h5>A Little Something on the Side: </h5><h6>At the end of
                each
                downtime
                phase, you earn +2 stash.</h6>
            </label>

            <label><input type="checkbox" name="attr_c6"/><h5>Mesmerism: </h5><h6>When you Sway someone, you may cause
                them
                to
                forget that it's happened until they next interact with you.</h6>
            </label>

            <label><input type="checkbox" name="attr_c7"/><h5>Subterfuge: </h5><h6>You may expend your special armor to
                resist a
                consequence from suspicion or persuasion, or to push yourself for
                subterfuge.</h6>
            </label>

            <label><input type="checkbox" name="attr_c8"/><h5>Trust in Me: </h5><h6>You get +1d vs. a target with whom
                you
                have an
                intimate relationship.</h6>
            </label>

            <label><input type="checkbox" name="attr_c11"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v1"></textarea>

            <label><input type="checkbox" name="attr_c9"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>

            <label><input type="checkbox" name="attr_c10"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>
        </div>
        <input type="checkbox" name="attr_char_class" value="6" class="sheet-hidden sheet-hider">
        <div class="col-4" name="spider">
            <label><input type="checkbox" name="attr_c1"/>
                <h5>Foresight:</h5>
                <h6>Two times per score you can assist a teammate without
                    paying stress. Tell us how you prepared for this.</h6>
            </label>

            <label><input type="checkbox" name="attr_c2"/><h5>Calculating: </h5><h6>Due to your careful planning, during
                downtime,
                you may give yourself or another crew member +1 downtime action.</h6>
            </label>

            <label><input type="checkbox" name="attr_c3"/><h5>Connected: </h5><h6>During downtime, you get +1 result
                level
                when you
                acquire an asset or reduce heat.</h6>
            </label>
            <label><input type="checkbox" name="attr_c4"/><h5>Functioning Vice: </h5><h6>When you indulge your vice, you
                may
                adjust
                the dice outcome by 1 or 2 (up or down). An ally who joins in your
                vice may do the same.</h6>
            </label>

            <label><input type="checkbox" name="attr_c5"/><h5>Ghost Contract: </h5><h6>When you shake on a deal, you and
                your
                partner—
                human or otherwise—both bear a mark of your oath. If
                either breaks the contract, they take level 3 harm, "Cursed".</h6>
            </label>

            <label><input type="checkbox" name="attr_c6"/><h5>Jail Bird: </h5><h6>When incarcerated, your wanted level
                counts as 1 less,
                your Tier as 1 more, and you gain +1 faction status with a faction you
                help on the inside (in addition to your incarceration roll).</h6>
            </label>

            <label><input type="checkbox" name="attr_c7"/><h5>Mastermind: </h5><h6>You may expend your special armor to
                protect a
                teammate, or to push yourself when you gather information or work
                on a long-term project.</h6>
            </label>

            <label><input type="checkbox" name="attr_c8"/><h5>Weaving the Web: </h5><h6>You gain +1d to Consort when you
                gather
                information on a target for a score. You get +1d to the engagement
                roll for that operation.</h6>
            </label>

            <label><input type="checkbox" name="attr_c11"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v1"></textarea>

            <label><input type="checkbox" name="attr_c9"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>

            <label><input type="checkbox" name="attr_c10"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>
        </div>
        <input type="checkbox" name="attr_char_class" value="7" class="sheet-hidden sheet-hider">
        <div class="col-4" name="whisper">
            <label><input type="checkbox" name="attr_c1"/>
                <h5>Compel:</h5>
                <h6>You can Attune to the ghost field to force a nearby ghost to
                    appear and obey a command you give it. You are not supernaturally
                    terrified by a ghost you summon or compel (though your allies may be).</h6>
            </label>

            <label><input type="checkbox" name="attr_c2"/><h5>Ghost Mind: </h5><h6>You’re always aware of supernatural
                entities in your
                presence. Take +1d when you gather info about the supernatural.</h6>
            </label>

            <label><input type="checkbox" name="attr_c3"/><h5>Iron Will: </h5><h6>You're immune to the terror that some
                supernatural
                entities inflict on sight. Take +1d to resistance rolls with Resolve.</h6>
            </label>
            <label><input type="checkbox" name="attr_c4"/><h5>Occultist: </h5><h6>You know the secret ways to Consort
                with
                ancient
                powers, forgotten gods or demons. Once you've consorted with one,
                you get +1d to command cultists who worship it.</h6>
            </label>

            <label>
                <input type="checkbox" name="attr_c5"/><h5>Ritual: </h5><h6>You can Study an occult ritual (or create a
                new
                one) to
                summon a supernatural effect or being. You know the arcane methods
                to perform ritual sorcery. You begin with one ritual already learned.</h6>
            </label>

            <label><input type="checkbox" name="attr_c6"/><h5>Strange Methods: </h5><h6>When you invent or craft a
                creation
                with
                arcane features, take +1 result level to your roll. You begin with one
                arcane design already known.</h6>
            </label>

            <label><input type="checkbox" name="attr_c7"/><h5>Tempest: </h5><h6>You can push yourself to do one of the
                following: unleash
                a stroke of lightning as a weapon—summon a storm in your immediate
                vicinity (torrential rain, roaring winds, heavy fog, chilling frost/snow, etc.).</h6>
            </label>

            <label><input type="checkbox" name="attr_c8"/><h5>Warded: </h5><h6>You may expend your special armor to
                resist a
                supernatural
                consequence, or to push yourself when you deal with arcane forces.</h6>
            </label>

            <label><input type="checkbox" name="attr_c11"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v1"></textarea>

            <label><input type="checkbox" name="attr_c9"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>

            <label><input type="checkbox" name="attr_c10"/><h5>Veteran: </h5><h6>Choose a special ability from another
                source.</h6>
            </label>
            <textarea name="attr_v2"></textarea>
        </div>
    </div>
